#new-chat-div{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #71cdff;
    display: none;
}

#new-chat-div>i{
    margin-left: 87%;
    margin-top: 12px;
    font-size: 1.5rem;
    cursor: pointer;
}